body {
  background-color: snow;
}

.css-1oqqzyl-MuiContainer-root {
  padding: 0; /* reset container paddings */
}

.MuiImageListItem-root {
  margin-bottom: 18px;
}

.masonry-grid {
  display: flex;
  width: auto;
  margin-top: 80px;
}

.masonry-grid_column {
  padding: 0 9px;
  background-clip: padding-box;
}
